@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&family=Inter:wght@600&family=Nunito:wght@800&family=Poppins&display=swap");

body {
  margin: 0 auto;
  width: 100vw;
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  height: 40px;
  color: #343a40; /* grey-3 */
  background: #e9ecef; /* grey-2 */
  border: 1.4px solid #e9ecef; /* grey-2 */
  border-radius: 8px;
  cursor: pointer;
}
button:hover {
  color: white;
  background: #fd377e; /* color-primary */
  border: 1.4px solid #fd377e; /* color-primary */
}